*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f5f7fb;
}

.login-page{
display:flex;
height:100vh;
}

.login-left{
width:45%;
background:#0F172A;
color:white;
display:flex;
justify-content:center;
align-items:center;
}

.brand{
text-align:center;
}

.brand h1{
font-size:50px;
letter-spacing:2px;
margin-bottom:15px;
}

.brand p{
font-size:20px;
color:#CBD5E1;
}

.login-right{
width:55%;
display:flex;
justify-content:center;
align-items:center;
background:white;
}

.login-card{
width:430px;
padding:40px;
background:white;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.login-card h2{
font-size:32px;
margin-bottom:10px;
color:#0F172A;
}

.login-card p{
margin-bottom:30px;
color:#64748B;
}

.input-group{
position:relative;
margin-bottom:25px;
}

.icon{
position:absolute;
left:15px;
top:17px;
color:#64748B;
}

.input-group input{
width:100%;
padding:15px 45px;
font-size:16px;
border:1px solid #CBD5E1;
border-radius:8px;
outline:none;
}

.input-group input:focus{
border-color:#2563EB;
}

.eye{
position:absolute;
right:18px;
top:17px;
cursor:pointer;
color:#64748B;
}

.remember{
display:flex;
justify-content:space-between;
margin-bottom:25px;
font-size:14px;
}

.remember a{
text-decoration:none;
color:#2563EB;
}

.login-btn{
width:100%;
padding:15px;
border:none;
background:#2563EB;
color:white;
font-size:18px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

.login-btn:hover{
background:#1E40AF;
}